.navbar {
    height: 50px;
    border: none;
    position: fixed;
    right: 0;
    left: 0;
}

nav li {
    display: inline-block;
}

nav {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
}

nav li a {
    line-height: 50px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 18px;
    padding: 0 18px;
    font-family: 'azo-sans-web', sans-serif;
}

nav li:hover{
    background-color: #e2e2e2;
}

nav ul {
    margin: 0;
    text-align: right;
}

.navbar-logo {
    height: 50px;
    float: left;
}

.navbar-logo img{
    height: 100%;
}



*{
    margin: 0;
}

body {
    padding-top:50px;
}